In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("scripts/merged_data.csv")

In [3]:
data.head()

   time       bvp  time.1    hr     acc_x  acc_y  acc_z      eda    temp
0     0  0.000000     0.0  72.0 -0.500000    1.0   63.0  0.00000  382.21
1     1  0.003333     0.1   NaN -0.666667    1.0   63.0      NaN     NaN
2     2  0.051429     0.2   NaN -0.666667    1.0   63.0  0.27248  382.21
3     3  1.536667     0.3   NaN -0.666667    1.0   63.0      NaN     NaN
4     4  4.161667     0.4   NaN -0.666667    1.0   63.0      NaN     NaN

In [72]:
timestamps = []
for i in range(0,len(df_raw.index)):
    timestamps.append("2019:06:14 " + df_raw.time.iloc[i])
df_raw.index = timestamps    
# df_raw = df_raw.set_index("time")
# df_raw = df_raw.astype("float64")

In [73]:
df_raw.head()

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,p,Bx,By,Bz,Azimuth,Pitch,Roll,Gain
2019:06:14 13:18:01:045,13:18:01:045,0.12,-0.06,0.91,-0.10,-1.75,-1.13,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
2019:06:14 13:18:01:047,13:18:01:047,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
2019:06:14 13:18:01:049,13:18:01:049,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
2019:06:14 13:18:01:052,13:18:01:052,0.12,-0.06,0.91,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
2019:06:14 13:18:01:054,13:18:01:054,-0.09,-0.05,0.65,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73

In [74]:
df_raw.index = pd.to_datetime(df_raw.index, format="%Y:%m:%d %H:%M:%S:%f")

In [75]:
df_raw.head()

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,p,Bx,By,Bz,Azimuth,Pitch,Roll,Gain
2019-06-14 13:18:01.045,13:18:01:045,0.12,-0.06,0.91,-0.10,-1.75,-1.13,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
2019-06-14 13:18:01.047,13:18:01:047,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
2019-06-14 13:18:01.049,13:18:01:049,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
2019-06-14 13:18:01.052,13:18:01:052,0.12,-0.06,0.91,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
2019-06-14 13:18:01.054,13:18:01:054,-0.09,-0.05,0.65,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73

In [ ]:
timestamps = []
for i in range(0, len(df_raw.index)):
    timestamps.append('%.6f' % (float(df_raw.index[i].to_datetime64().item())/1000000000))
df_raw.index = timestamps

In [83]:
df_raw.head()

,time,gFx,gFy,gFz,ax,ay,az,wx,wy,wz,p,Bx,By,Bz,Azimuth,Pitch,Roll,Gain
1560518281.045,13:18:01:045,0.12,-0.06,0.91,-0.10,-1.75,-1.13,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
1560518281.047,13:18:01:047,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,114.34,35.24,-45.96,69.73
1560518281.049,13:18:01:049,0.12,-0.06,0.91,0.28,-1.82,0.23,6.93,5.08,3.37,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
1560518281.052,13:18:01:052,0.12,-0.06,0.91,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73
1560518281.054,13:18:01:054,-0.09,-0.05,0.65,0.28,-1.82,0.23,5.47,4.85,1.99,1012.14,-68.22,60.84,-34.92,118.84,33.59,-31.77,69.73

In [76]:
df_raw.index[0]

Timestamp('2019-06-14 13:18:01.045000')

In [81]:
'%.3f' % (float(df_raw.index[i].to_datetime64().item())/1000000000)

'1560519181.735'

In [87]:
labels = pd.read_csv("data/Intervals2.csv", sep = "\t")

In [88]:
labels.head()

  time_1,time_2,activity
0              0,45,walk
1          45,120,stairs
2           120,342,walk
3          342,420,stand
4           420,540,walk